@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #000000;
	--layer-1: #ffffff;
	--layer-2: #f2f2f2;
	--link: #8bbeff;
	--fg-color-hover: #000000;
	--bg-color-hover: #ffffff;
	--on-dropdown: #000000;
	--icon: #4a352f;
	--input-border-focus: #4e9bff;
	--all: #e8e8e8;
	--games: #ffac27;
	--videos: #ff3b3f;
	--books: #00bfff;
}

.dark {
	--background: #121212;
	--foreground: #e8e8e8;
	--layer-1: #2c2c2c;
	--layer-2: #333333;
	--link: #8bbeff;
	--icon: #e8e8e8;
	--input-bg: #272727;
	--input-border: #6e6e6e;
	--input-boder-focus: #e8e8e8;
	--star: #ffff00;
	--result-text-bg: #202020e6;
	--fg-color-hover: #ffffff;
	--bg-color-hover: #000000;
	--on-dropdown: #121212;
	--all: #e8e8e8;
	--games: #ffac27;
	--videos: #ff3b3f;
	--books: #00bfff;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
