@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--bg: oklch(90% 0.01 258.338);
	--bg-hover: oklch(86% 0.01 258.338);
	--bg-layer-1: oklch(91.5% 0.01 258.338);
	--bg-layer-2: oklch(92% 0.01 258.338);
	--accent: theme("colors.blue.700");
	--text: oklch(21.8% 0 0);
	--pulse: oklch(82% 0.01 258.338);
}

.dark {
	--bg: oklch(21.8% 0 0);
	--bg-hover: oklch(40% 0 0);
	--bg-layer-1: oklch(31% 0 0);
	--bg-layer-2: oklch(38% 0 0);
	--accent: theme("colors.blue.400");
	--text: oklch(92.5% 0 0);
	--pulse: oklch(35% 0 0);
}

body {
	background-color: var(--bg);
	color: var(--text);
}

input {
	min-width: 0;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;

	/* Position and size */
	height: 1rem;
	width: 1rem;
	background-image: url('data:image/svg+xml;utf8,<svg fill="%231e1e1e" xmlns="http://www.w3.org/2000/svg" viewBox="5 5 14 14"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	/* Add a cursor pointer to indicate it's clickable */
}

.dark input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;

	/* Position and size */
	height: 1rem;
	width: 1rem;
	background-image: url('data:image/svg+xml;utf8,<svg fill="%23e6e6e6" xmlns="http://www.w3.org/2000/svg" viewBox="5 5 14 14"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	/* Add a cursor pointer to indicate it's clickable */
}

.glow {
	filter: drop-shadow(0 0 6px oklch(85.2% 0.199 91.936 / 0.8)) drop-shadow(0 0 6px oklch(0 0 0 / 0.8))
}

.glow-yellow {
	filter: drop-shadow(0 0 6px oklch(85.2% 0.199 91.936 / 0.8)) drop-shadow(0 0 6px oklch(0 0 0 / 0.4))
}
